---
  
---
  <div class="nav-links">
<a rel="prefetch"  href="/">Home</a>
<a rel="prefetch"  href="/about/">About</a>
<a rel="prefetch"  href="/blog/">Blog</a>
<a rel="prefetch"  href="/tags/">Tags</a>

</div>